<app-video-list
  [selectedVideo]="(selectedVideo | async)?.id"
  [videos]="(videos | async) ?? []"
></app-video-list>
<app-video-player
  [video]="(selectedVideo | async) ?? undefined"
></app-video-player>
<app-stat-filters></app-stat-filters>
